// Variables

// Colour Scheme
// =============
// To avoid confusion with CSS properties,
// colour scheme variable names use american english _color_

// Main colour palette
$color-primary: #2b306a;
$color-secondary: #06c0db;
$color-highlight: #ff9600;
$color-muted: #eef;
$color-note: #666;

$color-one: #181717;
$color-two: #f9f9f6;  
$color-three: #dddddd;
// $color-four: 
$color-five: #e1eff4;

// Common colours
$color-text: $color-one;
$color-text-alt: $color-two;
$color-background: $color-two;
$color-border: $color-three;

// Links
$color-link-default: $color-text;
$color-link-visited: $color-text;
$color-link-hover: $color-three;
$color-link-active: $color-three;

// Code
$color-code: $color-two;
$color-code-background: $color-one;
$color-code-border:$color-two;
$color-code-outline:$color-one;
$color-pre: $color-code;
$color-pre-background: $color-code-background;

// Selections
$color-selection: $color-five;

// Messages
$color-message: #f4ecbb;
$color-success: #2cde2c;
$color-warning: #cf8600;
$color-important: #d00;
$color-notice: #66b;

// Hsl
$color-hsl: hsl(120deg, 80%, 88%);

// Base Sizes
// ==========

// Included shorthands as these may be used a lot.

$base-font-size: 16;
$base-line-height: 24;
$base-fs: $base-font-size;
$base-lh: $base-line-height;


// Font Stacks
// ===========

$font-family-sans: sans-serif;
$font-family-serif: "Crimson Text", Georgia, serif;
$font-family-display: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-caption: Verdana, sans-serif;
$font-family-monospace: "Source Code Pro", Consolas, "Liberation Mono", monospace;
$font-family-default: $font-family-display;


// Font Weights
// ============

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;


// Breakpoints
// ===========
// There are no common breakpoints so these are just a suggestion
// You'll need to define your own breakpoints to suit your design

$breakpoint-narrow: 35em;
$breakpoint-mid: 48em;
$breakpoint-wide: 60em;
$breakpoint-huge: 100em;
