/* Layout */
/* ========================================================================== */

.content {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
}
header {
    top:0;
    width:100%;
    text-align: center;
    font-family: $font-family-serif;
    margin-bottom: 1.5em;
    padding-top: 3.5em;
}
section {
    margin-bottom: 1.5em;
}
footer {
  width: 100%;
  background-color: $color-1;
  color: $color-2;
  text-align: center;
  font-family: $font-family-serif;
}
