/*  ========================================================================== */
/*  @group Layout */
/*  ========================================================================== */
    body {
        border-top: medium solid $color-text;
    }
/*  ========================================================================== */
/*  @group Layout Helpers */
/*  ========================================================================== */

    // * { @include box-sizing(border-box); }

    @mixin l-content() {

        width: 100%;
        max-width: 720px;
        margin: 0 auto;

        @media only screen and (max-width: $breakpoint-narrow) {
            width: 95%;
        }

    }

    .l-content {
        @include l-content();
    }

/*  ========================================================================== */
/*  @group Header */
/*  ========================================================================== */

    [role="banner"] {
        // background-color: darken( $color-background, 10% );
      
    }

        .logo {
            @include font-size( 18 );
            letter-spacing: 0.5em;
            text-align: center;
            width: 280px;
            margin: 0 auto 3em auto;
        }
        .site-name {
            @include font-size( 64 );
            font-weight: bold;
            display: block;
        }
        .sns {
          @include font-size( 18 );
          letter-spacing: 0.9em;
          text-align: right;
        }



/*  ========================================================================== */
/*  @group Main */
/*  ========================================================================== */

    // * { @include box-sizing(border-box); }

    @mixin main() {
     
    }

    [role="main"] {
        @include main();
    }
    [role="complementary"] {

    }

/*  ========================================================================== */
/*  @group Footer */
/*  ========================================================================== */

    [role="contentinfo"] {

      @include font-size( 14 );
      margin-top: 1.5em;
      margin-bottom: 1em;
      padding-top: .5em;
      border-top: 1px solid $color-text;

    }
