/*  ========================================================================== */
/*  @group Layout */
/*  ========================================================================== */

    @mixin container() {
        @media only screen and (min-width: $breakpoint-narrow) {

        }
    }

    .container {
        @include container();
    }

/*  ========================================================================== */
/*  @group content */
/*  ========================================================================== */

    //* { @include box-sizing(border-box); }
    @mixin content() {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;


        @media only screen and (max-width: $breakpoint-narrow) {
            width: 92%;
        }

    }

    .content {
        @include content();  
    }

/*  ========================================================================== */
/*  @group header */
/*  ========================================================================== */

   @mixin header() {
        top:0;
        width:100%;
    }

    .header {
        @include header();
    }



/*  ========================================================================== */
/*  @group Main */
/*  ========================================================================== */

    // * { @include box-sizing(border-box); }

    @mixin main() {
     
    }

    [role="main"] {
        @include main();
    }
    [role="complementary"] {

    }

/*  ========================================================================== */
/*  @group .navigation-post */
/*  ========================================================================== */

   @mixin navigation-post() {


        @media only screen and (min-width: $breakpoint-mid) {

        }
    }

    .navigation-post {
        @include navigation-post();
    }

/*  ========================================================================== */
/*  @group .footer */
/*  ========================================================================== */

    .footer {
      width: 100%;
      bottom: 0;  
      clear: both;
      margin: 0 auto;
      background-color: $color-one;
      color:  $color-two;
      @include font-size( 14 );
      text-align: center;
    }
