// -------------------------------------------------------- //
// Base
// -------------------------------------------------------- //

body {
    color: $color-text;
    background-color: $color-background;
    -webkit-tap-highlight-color:rgba(219, 241, 249, .8);
    font-weight: $font-weight-light;
    line-height: $base-lh/$base-fs;
}

// Font Family
// -------------------------
/* Default font */
html, body, button, input, select, textarea { font-family: $font-family-default; }

/* Display font */
h1, h2, h3, h4 {
    font-family: $font-family-display;
    font-style: normal;
    font-weight: $font-weight-light;
}

/* Alternate font */
.font-family-serif { font-family: $font-family-serif;  }

/* Monospace font*/
pre, code, kbd, samp, .font-family-monospace { font-family: $font-family-monospace; }


// Vertical Ryhtnm
// -------------------------
h1 { font-size: rs(32); margin: 0 0 rs(21,32) 0; }
h2 { font-size: rs(28); margin: rs(21,28) 0 0 0; }
h3 { font-size: rs(24); margin: rs(21,24) 0 0 0; }
h4 { font-size: rs(21); margin: rs(21,21) 0 0 0; }
p { font-size: rs(16); margin: rs(21,16) 0 0 0; }
ul, ol, dl { margin: rs($base-lh/2) 0 rs($base-lh/2) 0;}
ul, li, ol, dl { padding: 0; }
ul li {list-style: none; }


// Link Style
// -------------------------
a {
    text-decoration: none;
    word-wrap: break-word;
}

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

a {
    color: $color-link-default;
    @include transition();
}
a:visited {
    color: $color-link-visited;
}
a:hover {
    cursor: pointer;
    color: $color-link-hover;
}
a:active {
    color: $color-link-active;
}


// Text Style
// -------------------------
b, strong, mark { font-weight: bold; }


// Code Style
// -------------------------
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code  {
    @include font-size( 15 );
    padding: 0 .3em;
}
pre, .code {
    @include font-size( 14 );
    @include dotty-background();
    color: $color-pre;
    line-height: 1.5;
    margin-bottom: rs($base-lh/2);
    padding: rs($base-lh/2) rs($base-lh);
}
pre code, .code code {
    background-color: transparent;
    border: none;
    padding: 0;
}
.code li {
    list-style-type: decimal-leading-zero;
}


// Selection Style
// -------------------------
::-moz-selection {
    background: $color-selection;
    text-shadow: none;
}
::selection {
    background: $color-selection;
    text-shadow: none;
}


// Quotes Style
// -------------------------
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
q, cite, blockquote { 
    font-style: italic;
    font-size: 85%;
    margin: -6em 3em 3em;
}

blockquote:before {
    position: relative;
    top: 70px;
    left: -40px;
    display: block;
    color: lighten( $color-1, 70% );
    content: "\201C";
    font-size: 65px;
    font-family: serif;
}


// Img Style
// -------------------------
img { vertical-align: middle; }

/* _width hack is for IE */
img { max-width: 90%; _width: 90%; display: block; margin: 0 auto;
    @media only screen and (max-width: $breakpoint-mid) {
    max-width: 95%; _width: 95%
    }
}
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


