/*  ========================================================================== */
/*  @date-hover state */
/*  ========================================================================== */


.article_header a {
    position: relative;
}

h2 a::after {
    position: absolute;
    height: 2px;
    top: 106%;
    left: -2%;
    width: 104%;
    background: $color-one;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

h2 a:hover::after,
h2 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
