/*  ========================================================================== */
/*  @date-hover state */
/*  ========================================================================== */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 a {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 2px solid #0972b4;
} 

h2 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 2px solid #fff;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

h2 a:hover::before,
h2 a:focus::before {
    max-width: 100%;
}
    /*
    * Image replacement
    */
    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        // IE 6/7 fallback
        *text-indent: -9999px;
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 150%;
        }
    }
