/*  ========================================================================== */
/*  @Hue Modules */
/*  ========================================================================== */
body, footer {
  -webkit-animation: hue-animation 20s ease 0s infinite alternate;
  -moz-animation: hue-animation 20s ease 0s infinite alternate;
}
    /* body {
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
    }
    body {
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
    }
    body {
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
    }
    body {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
    } */

@-webkit-keyframes hue-animation {
  0% {
    border-color: adjust-hue($color-hsl, 0);
  }

  20% {
    border-color: adjust-hue($color-hsl, 72);
  }

  40% {
    border-color: adjust-hue($color-hsl, 144);
  }

  60% {
    border-color: adjust-hue($color-hsl, 216);
  }

  80% {
    border-color: adjust-hue($color-hsl, 288);
  }

  100% {
    border-color: adjust-hue($color-hsl, 360);
  }
}

@-moz-keyframes hue-animation {
  0% {
    border-color: adjust-hue($color-hsl, 0);
  }

  20% {
    border-color: adjust-hue($color-hsl, 72);
  }

  40% {
    border-color: adjust-hue($color-hsl, 144);
  }

  60% {
    border-color: adjust-hue($color-hsl, 216);
  }

  80% {
    border-color: adjust-hue($color-hsl, 288);
  }

  100% {
    border-color: adjust-hue($color-hsl, 360);
  }
}
