/*  ========================================================================== */
/*  @Logo Modules */
/*  ========================================================================== */

 .flip {
    width: 132px;
    height:132px;
    margin-left: auto;
    margin-right: auto;
    &:hover .logo {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
     &:hover .logo-background {
        background-color: $color-two;
        outline: 1px solid $color-one;
     }
    &:hover .logo-sign {
        color: $color-one;
    }
}

.logo-sign {
    width: 139px;
    margin: -9.1em auto;
    text-align: center;
    position: absolute;
    @include font-size( 16 );
    font-family: $font-family-serif;
    letter-spacing: 0.25em;
    color: $color-two;
}
.logo {
    margin: 3.5em auto 3.5em auto;
    width: 124px;
    height:124px;
    position: relative;
    @include transition();
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .logo-background {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        width: 90px;
        @include dotty-background();
        @include transform();
        @include transition();
    }
}
