/*  ========================================================================== */
/*  @Logo Modules */
/*  ========================================================================== */

.logo-wrapper {
    width: 132px;
    height:132px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1em;
    &:hover .logo {
        transform: rotateY(180deg);
    }
     &:hover .logo-background {
        background-color: $color-2;
        outline: 1px solid $color-1;
     }
    &:hover .logo-sign {
        color: $color-1;
    }
}

.logo-sign {
    width: 139px;
    margin: -9.2em auto;
    text-align: center;
    position: absolute;
    @include font-size( 16 );
    font-family: $font-family-serif;
    letter-spacing: 0.24em;
    color: $color-2;
}
.logo {
    margin: 0 auto 3.5em auto;
    width: 124px;
    height:124px;
    position: relative;
    @include transition();
    transform-style: preserve-3d;
    .logo-background {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        width: 90px;
        @include dotty-background();
        @include transform();
        @include transition();
    }
}
