// -------------------------------------------------------- //
// Modules
// -------------------------------------------------------- //

/* header */
.description {
    width: 100%;
    p {
        width: 330px;
        margin: 0 auto;
        line-height: 1.4;
    }
}

/* article */
article {
    @include dotty-border;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    h3 {
        margin-top: 1.5em;
    }
}

.article-header {
    margin-bottom: 2em;
    ul {
        margin-top: 0;
    }
}

.article-body a, .styleguide-body a {
    @include dotty-border;
    padding-bottom: .1em;
}

.nav-global ul, .nav-tags, .article-tags {
    & > li,
    & > li > a {
        @include inline-block();
        margin: 0 .5em 0 0;
    }
}

.article-body ol {
    padding-left: 1.4em;
}
.article-body ul,
.nav-recent,
.nav-tags  {
    li {
      margin: 0;
      position: relative;
      padding-left: 1.2em;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: .8em;
          width: 3px;
          height: 3px;
          background: $color-1;
          @include transform;
        }
    }
}
.article-tags {
    @include inline-block;
    margin-left: 1em;
        li:first-child::before {
            content: '/';
            margin-right: 1em; }
}
.more {
    float: right;
    &::after {
        content: '\2192';
        margin-left: .2em;
    }
}
.btn {
    @include button;
    @include transition;
    height: 2em;
    line-height: 2;
    padding-right: 1.1em;
    padding-left: 1.2em;
    background-color: lighten( $color-1, 81% );
        &:hover,
        &:active,
        &:focus,
        &:visited {
            background-color: lighten( $color-1, 70% );
        }
}
/* share */
.share {
    margin-top: 2em;
    margin-bottom: 1em;
}
#twitter-widget-0 {
    margin: 0 -13px 0 13px;
}
.fb-like {
    margin-right: 13px;
}
/* navigation */
.nav-link {
    line-height: 2.2em;
    list-style: n1;
    margin-top: 1.5em;
    margin-left: -0.4em;
    i {
        padding-right: .3em;
    }
}
.icon-twitter, .nav-link-twitter a:hover {
    color: #00acee;
}
i.icon-rss, .nav-link-rss a:hover {
    color: #ee802f;
}
/* footer */
.nav-global {
    line-height: 1.5em;
    margin-bottom: -1.7em;
    ul {
        padding-top: .4em;
        padding-left: 2em;
        li {
            padding-right: .7em;
            @media only screen and (max-width: $breakpoint-narrow) {
                padding-right: 0;
            }
        }
    }

}
.note {
    font-size: 90%;
    margin-bottom: .5em;
}
.copy {
    margin-bottom: 0;
    line-height: 2.6em;
}


