/* Modules */
/* ========================================================================== */

/* header */
.description {
    width: 100%;
    p {
        @media only screen and (max-width: $breakpoint-mid) {
            width: 265px;
            margin: 0 auto;
            line-height: 1.4;
        }
    }
}
/* article */
article {
    border-bottom: 1px dotted lighten( $color-text, 50% );
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.article-header {
    margin-bottom: 2em;
}

.article-body a {
    border-bottom: 1px dotted;
    padding-bottom: .1em;
}

.nav-global ul, .nav-tags, .article-tags {
    & > li,
    & > li > a {
        @include inline-block();
        margin: 0 .5em 0 0;
    }
}
.article-body ul,
.nav-archive ul {
    li {
      margin: 0;
      position: relative;
      padding-left: 1.2em;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: .6em;
          background: $color-one;
          width: 3px;
          height: 3px;
          top: .7em;
          @include transform;
        }
    }
}
.article-tags {
    @include inline-block();
    margin-left: 1em;
        li:first-child::before {
            content: '/';
            margin-right: 1em; }
}
.more {
    float: right;
    font-family: $font-family-serif;
    &::after {
        content: '\2192';
        margin-left: .2em;
    }
}
.btn {
    @include button();
    @include transition();
    height: 2em;
    line-height: 2;
    padding-right: 1.1em;
    padding-left: 1.2em;
    background-color: lighten( $color-one, 81% );
        &:hover,
        &:active,
        &:focus,
        &:visited {
            background-color: lighten( $color-one, 70% );
        }
}
/* share */
.share {
    margin-top: 2em;
    margin-bottom: 1em;
}
#twitter-widget-0 {
    margin: 0 -13px 0 13px;
}
.fb-like {
    margin-right: 13px;
}
/* navigation */
.sns {
    line-height: 2.2em;
    list-style: none;
    margin-top: 1.5em;
    margin-left: -0.4em;
    i {
        padding-right: .3em;
    }
}
.icon-twitter, .sns-twitter a:hover {
    color: #00acee;
}
i.icon-rss, .sns-rss a:hover {
    color: #ee802f;
}
/* footer */
.nav-global {
    @include font-size( 13.5 );
    line-height: 1.5em;
    margin-bottom: -1.7em;
    ul {
        padding-top: .4em;
        margin-bottom: -.3em;
    }
    a {
        color: $color-two;
        @include transition();
    }
    a:visited {
        color: $color-two;
    }
    a:hover {
        cursor: pointer;
        color: $color-link-hover;
    }
    a:active {
        color: $color-link-active;
    }
}
.copy {
    margin-bottom: 0;
    line-height: 2em;
    font-family: $font-family-serif;
}
/*  .lead {
    font-size: 120%;
    line-height: 1.3;
}
.note {
    color: $color-note;
    font-style: italic;
    font-size: 80%;
    margin-bottom: .5em;
}
.nav-stacked {
    & > li {
        display: list-item;
    }
    & > li > a {
        display: block;
    }
} 
.nav-tags {
    li::before {
        color: $color-note;
        content: " / ";
        margin: 0 .5em 0 .3em;
    }
    li:first-child::before { content: ""; margin: 0; }
} */



