/*  ========================================================================== */
/*  @group Modules */
/*  ========================================================================== */

/*  ========================================================================== */
/*  @group Text */
/*  ========================================================================== */
article {
    border-bottom: 1px dotted lighten( $color-text, 50% );
    padding: 0.5em inherit;
    .article-header {
        margin-bottom: 1.5em;
    }
}

.nav-site ul, .nav-tags, .article-tags {
    & > li,
    & > li > a {
        @include inline-block();
        margin: 0 .5em 0 0;
    }
}

.article-body ul,
.nav-archive ul {
    li {
      margin: 0;
      position: relative;
      padding-left: 1.2em;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: .6em;
          background: $color-one;
          width: 3px;
          height: 3px;
          top: .7em;
          @include transform;
        }
    }
}
.article-tags {
    @include inline-block();
    margin-left: 1em;
        li:first-child::before {
            content: '/';
            margin-right: 1em; }
}
    .more {
        text-align: right;
        &::after {
            content: '\2192';
            margin-left: .2em;
        }
    }

/*  ========================================================================== */
/*  @group Opt-in Typography */
/*  ========================================================================== */
   /*  .lead {
        font-size: 120%;
        line-height: 1.3;
    }

    .note {
        color: $color-note;
        font-style: italic;
        font-size: 80%;
        margin-bottom: .5em;
    }

    .copy {

        a {
            border-bottom: 1px dotted $color-link-default;
        }

    } */

/*  ========================================================================== */
/*  @group Navigation */
/*  ========================================================================== */


   /*  .nav-stacked {
        & > li {
            display: list-item;
        }
        & > li > a {
            display: block;
        }
    } */
    .sns {
        @include font-size( 18 );
        letter-spacing: 0.9em;
        text-align: right;
    }

    .nav-banner {
        text-align: center;
    }

/*     .nav-tags {
        li::before {
            color: $color-note;
            content: " / ";
            margin: 0 .5em 0 .3em;
        }
        li:first-child::before { content: ""; margin: 0; }
    } */

/*  ========================================================================== */
/*  @group Buttons */
/*  ========================================================================== */

    .btn {

        @include button();
        @include dotty-background();

        height: 2em;
        line-height: 2;
        padding-right: .75em;
        padding-left: .75em;

        color: $color-two;
    }

    .btn,
    .btn:hover,
    .btn:active,
    .btn:focus,
    .btn:visited{
        color: $color-two;
        text-decoration: none;
    }
    .btn:hover,
    .btn:active{
        background-color: darken( $color-two, 10% );
    }
    .btn:active,
    .btn:focus {
        outline: none;
    }
